

<div *ngIf="card.type == 'playlist'" class="artista">
    <img src="{{ card.imgsrc }}" alt="">
    <a (click)="ir()"><i class="fas fa-play"></i></a>
    <h1 class="letra"> {{ card.name}} </h1>
    <h2 class="text-muted h6">{{ card.type }}</h2>
</div>

<div *ngIf="card.type == 'album'" class="artista">
    <img src="{{ card.imgsrc }}" alt="">
    <a (click)="ir()"><i class="fas fa-play"></i></a>
    <h1 class="letra"> {{ card.name}} </h1>
    <h2 class="text-muted h6">{{ card.type }}</h2>
</div>


<div *ngIf="card.type == 'artist'" class="artista"> 
    <img src="{{ card.imgsrc }}" alt="" style="border-radius: 100%;">
    <a (click)="ir()"><i class="fas fa-play"></i></a>
    <h1 class="letra"> {{ card.name }} </h1>
    <h2 class="text-muted h6">{{ card.type }}</h2>
</div>



