.perfil{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 30px;
    img{
        border-radius: 100%;
        box-shadow: 0px 0px black 30px;
    }
    .datos{
        margin-left: 30px;
        span{
          
        }
        h1{
          
        }
        .subdatos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .circulo{
                margin:0px 5px;
                font-size: 30px;
                margin-bottom: 8px;
                color: #6C757D;
            }
            h3{
                color: white;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
     
    }
    
}

.topArtistas{
    background-color: #141414;
    width: 100%;
    padding: 30px;
    .cajaArtistas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        .artista{
            background-color: #181818;
            width: 250px;
            display: flex;
            justify-content: center; 
            align-items: center;
            flex-direction: column;
            padding: 30px 20px;
            transition: 0.5s;
            position: relative;
            &:hover{
                background-color: #282828 ;
                i{
                    opacity: 100;
                    top:150px;
                }
    
            }
            i{
                cursor: pointer;
                transition: 0.5s;
                position: absolute;
                color: black;
                font-size: 20px;
                background-color: #1FDF64;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 100%;
                padding-left: 5px;
                box-shadow: 10px 0px 20px black;
                right: 15px;
                top: 170px;
                opacity: 0;
            }
            img{
                height: 200px;
                width: 200px;
                border-radius: 100%;
                box-shadow: 0px 0px 10px rgb(0, 0, 0) ;
            }
            h1{
                align-self: flex-start;
                font-size: 20px;
                margin-top: 50px;
            }
            h2{
                align-self: flex-start;
            }
        }
    }
   
}
.topTracks{
    width: 100%;
    padding: 30px;
    background-color: #141414;
    .caja{
        iframe{
            margin-bottom: 20px;
            width: 100%;
        }
        span{
            margin-right: 20px;
        }
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
}
.playlists{
    width: 100%;
    padding: 30px;
    background-color: #141414;
    .cajaPlaylists{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        .artista{
            background-color: #181818;
            width: 250px;
            display: flex;
            justify-content: center; 
            align-items: center;
            flex-direction: column;
            padding: 30px 20px;
            transition: 0.5s;
            position: relative;
            &:hover{
                background-color: #282828 ;
                i{
                    opacity: 100;
                    top:150px;
                }
    
            }
            i{
                cursor: pointer;
                transition: 0.5s;
                position: absolute;
                color: black;
                font-size: 20px;
                background-color: #1FDF64;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 100%;
                padding-left: 5px;
                box-shadow: 10px 0px 20px black;
                right: 15px;
                top: 170px;
                opacity: 0;
            }
            img{
                height: 200px;
                width: 200px;
                box-shadow: 0px 0px 10px rgb(0, 0, 0) ;
            }
            h1{
                align-self: flex-start;
                font-size: 20px;
                margin-top: 50px;
            }
            h2{
                align-self: flex-start;
            }
        }
    }
}
.linkExt{
    cursor: pointer;
    &:hover{
        color: white !important;
        text-decoration: underline;
    }
}