<div class="perfil">
    <img src="" alt="">
    <div class="datos">
        <span class="letra">PERFIL</span>
        <h1 class="letra"></h1>
        <div class="subdatos">
            <h2 class="text-muted h6"> PlayLists guardadas</h2>
            <span class="circulo">•</span>
            <h3 class="h6">seguidores</h3>
            <span class="circulo">•</span>
            <h3 class="h6">Sigue a artistas</h3>
        </div>
    </div>
    <!-- <iframe src="https://open.spotify.com/embed/track/6JQvHMSaR8flFsN53ypOfP" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
</div>
<div class="canciones">
  
</div>
   
