<div class="nav">
      <span class="puntos">...</span>
      <div class="apartados">
          <div (click)="irHome()">
            <i class="fas fa-home"></i>
            <h1>Inicio</h1>
          </div>
          <div (click)="irBuscar()">
            <i class="fas fa-search"></i>
            <h1>Buscar</h1>
          </div>
          <div (click)="irSpotify()">
            <i class="fa-brands fa-spotify"></i>
            <h1>Abrir Spotify</h1>
          </div>
          <div (click)="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <h1>LogOut</h1>
          </div>
      </div>
</div>
   


