$opcion : random(5);
$color: rgb(150,149,149);


.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    .content{
        flex-grow: 8;
        background: $color;
        background: linear-gradient(180deg, $color 0%, rgba(0,0,0,1) 39%);
        padding: 0px; 
        width: calc(100vh - 200px);
        height: 100%;
        margin-left: 200px;
    }
    .menu{
        position: fixed;
        width: 200px;
        height: 100%;
        flex-grow: 2;
    }
}
